.container {
  border-radius: 5px;
  max-width: 600px;
  border: 1px solid grey;
  .title {
    &-image img{
      display: block;
      border-top-left-radius: 5px;
    }
    &-text {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .body {
    &-text {
      padding: 8px;
    }
  }
  .buttons {
    text-align: right;
    &-save {
      margin: 4px;
      padding: 8px;
      background-color: grey;
      color: white;
      border-radius: 5px;
    }
    &-close {
      margin: 4px;
      padding: 8px;
      background-color: grey;
      color: white;
      border-radius: 5px;
    }
  }
}

table {
  border-spacing: 0px;
}
