<table class="container">
  <tr class="title">
    <th class="title-image"><img src="https://placebear.com/100/80" /></th>
    <th class="title-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.</th>
  </tr>
  <tr class="body">
    <td colspan="2"
        class="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae semper quis lectus nulla. Duis at consectetur
      lorem donec massa sapien. Felis eget nunc lobortis mattis. Feugiat vivamus at augue eget arcu. At quis risus sed
      vulputate odio. Turpis nunc eget lorem dolor sed. Egestas diam in arcu cursus. Odio eu feugiat pretium nibh ipsum
      consequat. Elementum integer enim neque volutpat ac tincidunt vitae semper. Urna neque viverra justo nec ultrices
      dui sapien eget. Massa ultricies mi quis hendrerit. Venenatis a condimentum vitae sapien pellentesque habitant
      morbi tristique senectus. Tellus pellentesque eu tincidunt tortor aliquam. Risus viverra adipiscing at in tellus
      integer feugiat scelerisque varius. Purus viverra accumsan in nisl nisi scelerisque. Sed felis eget velit aliquet
      sagittis id.</td>
  </tr>
  <tr>
    <td colspan="2"
        class="buttons">
      <button class="buttons-save">Save</button>
      <button class="buttons-close">Close</button>
    </td>
  </tr>
</table>
